@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?z87lk7');
    src:url('../fonts/icomoon.eot?z87lk7#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?z87lk7') format('truetype'),
        url('../fonts/icomoon.woff?z87lk7') format('woff'),
        url('../fonts/icomoon.svg?z87lk7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-checkbox:before {
    content: "\e910";
}
.icon-currency:before {
    content: "\e911";
}
.icon-close:before {
    content: "\e90f";
}
.icon-arrow-down:before {
    content: "\e908";
}
.icon-arrow-left:before {
    content: "\e909";
}
.icon-arrow-right:before {
    content: "\e90a";
}
.icon-arrow-top:before {
    content: "\e90b";
}
.icon-hamburguer:before {
    content: "\e90c";
}
.icon-star:before {
    content: "\e90d";
}
.icon-help:before {
    content: "\e90e";
}
.icon-burial:before {
    content: "\e900";
}
.icon-cremation:before {
    content: "\e901";
}
.icon-location:before {
    content: "\e902";
}
.icon-phone:before {
    content: "\e903";
}
.icon-pin:before {
    content: "\e904";
}
.icon-search:before {
    content: "\e905";
}
.icon-services:before {
    content: "\e906";
}
.icon-sorting:before {
    content: "\e907";
}