.hero  {
  header {
    box-shadow: none;
    background: transparent;
    padding: em(60) em(100);
    position: relative;
    a {
      color: $white;
    }
  }
  h1 {
    font-size: em(46)!important;
    line-height: 1.3em;
    margin-bottom: 45px !important;
  }
  .accordion-tabs-minimal {
    margin-bottom: 254px;
    .tab-link {
      color: $light-gray;
      border: none;
      border-radius: 3px 3px 0 0;
      &.is-active {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

.home .content {
  color: $dark-gray;
  padding: 100px;
  line-height: 29px;
  h4 {
    font-size: 20px;
    letter-spacing: 2.5px;
    margin: 0.3em;
  }
  h6 {
    font-size: 15px;
    color: $primary-color;
    letter-spacing: 1px;
    &.orange {
      font-size: 17px;
      color: #FFC76E;
      letter-spacing: 1.5px;
      padding-top: 0.9em;
    }
  }
  p {
    font-size: 16px;
    margin-bottom: 46px;
    &.title {
      font-size: 18px;
      margin-bottom: 55px;
    }
  }
  img {
    float: left;
    margin-right: 27px;
    &.title {
      margin-right: 50px;
    }
  }
  .left {
    @include span-columns(6);
  }
  .right {
    @include span-columns(6);
  }
}

footer.home {
  position: relative;
}