.hero  {
  color: $white;
  min-height: 700px;
  section.hamburguer a {
    display: none;
    @include media($tablet){
      display: block;
      color: $white;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 9999;
      border: 2px solid rgba(255,255,255,0.20);
      border-radius: 100%;
      padding: 0.9em 0.8em;
    }
  }
  .overlay {
    background: rgba(125,185,227,0.95);
    text-align: left;
    padding: 1.5em 2em;
    .close {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 9999;
      border: 2px solid rgba(255,255,255,0.20);
      border-radius: 100%;
      padding: 0.9em 1em;
      color: $white;
    }
    nav {
      text-align: left;
      top: 235px;
      height: auto;
      width: auto;
      ul.footer {
        padding-top: 35px;
        font-size: 18px;
        line-height: 44px;
        display: block;
      }
      .line {
        margin-bottom: 25px;
        width: 31px;
        height: 2px;
        background-color: $white;
      }
    }
    li {
      span {
        font-size: 18px;
        line-height: 26px;
      }
      p {
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
  header {
    position: relative;
    box-shadow: none;
    &.navigation {
      background-color: transparent;
      min-height: none;
      border-bottom: none;
      padding: 60px 72px 60px 100px;
      text-align: left;
      @include media($tablet) {
        padding: 0;
      }
      nav {
        min-height: 0;
        float: right;
        ul li.nav-link {
          line-height: 1.8;
          a {
            color: $white;
            @include media($mobile){
              color: $dark-gray;
            }
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
      .logo-tf img {
        margin: 0;
        width: 183px;
        @include media($tablet) {
          width: 150px;
          padding: 0;
          margin: 30px;
        }
      }
    }
  }



  h1 {
    font-weight: 300;
    font-size: 46px;
    line-height: 1.3em;
    margin: 2em 1.3em 1.3em;
    @include media($small-desktop){
      font-size: 35px;
    }
    @include media($tablet){
      font-size: 30px;
      margin: 3em 0.5em 0.5em;
    }
    @include media($mobile) {
      font-size: 19px;
      margin: 4em 0.5em 0.5em;
    }
    b {
      font-weight: 500;
    }
  }
  p {
    &.location {
      font-size: em(13px);
      display: none;
      &:hover {
        opacity: 0.5;
      }
    }
    &.mobile-only {
      @include media($tablet) {
        display: block;
      }
    }
  }

  .accordion-tabs {
    position: relative;
    border:none;
    max-width: 640px;
    margin: 0 auto;
    @include media($tablet) {
      width: 92%;
      margin: 2em 4%;
    }
    text-align: left;
    .tab-link {
      transition: all 350ms;
      font-size: em(15px);
      color: $light-gray;
      letter-spacing: em(0.46px);
      font-weight: 400;
      padding: 0.6em 1.5em;
      &.is-active {
        background-color: $primary-color;
        color: $white;
        border: none;
        padding: 0.8em 1.5em;
      }
    }
    .tab-content {
      position: absolute;
      top: 42px;
      background-color: $primary-color;
      border: none;
      padding: 0.3em;
      @include media($tablet){
        position: relative;
        top: 0;
      }
      form.search-bar {
        input[type=search] {
          font-size: 16px;
          font-style: normal;
          border: 0;
          padding: 0.9em;
          border-radius: 3px;
          color: $dark-gray;
        }
        a.location-link {
          text-transform: uppercase;
          position: absolute;
          right: 76px;
          top: 17px;
          font-size: 11px;
          color: $light-gray;
          @include media($tablet) {
            display: none;
          }
          &:hover {
            color: $primary-color;
          }
        }
        button[type=submit] {
          border:0;
          font-size: 24px;
          background-color: $dark-gray;
          color: $white;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          padding: 0.5em 0.8em;
          &:hover {
            background-color: $primary-color;
            i {
              transform: scale(1.1);
              display: block;
            }
          }
        }
      }
    }
  }
}

.home .content {
  color: $dark-gray;
  padding: 2em 6.25em 6.25em;
  line-height: em(29px);
  overflow: hidden;
  @include media($mobile) {
    padding: 0;
  }
  h4 {
    font-size: em(20px);
    letter-spacing: em(2.5px);
    margin: 0.3em;
  }
  p.title {
    font-size: em(18px);
    margin-bottom:  em(55px);
  }
  .text {
    height: em(105px);
    h6 {
    font-size: em(15px);
    color: $primary-color;
    letter-spacing: em(1px);
    &.orange  a {
      display: block;
      font-size: em(17px);
      color: #FFC76E;
      letter-spacing: em(1.5px);
      padding-top: 0.6em;
      }
    }
    p {
      font-size: em(16px);
    }
  }
  img {
    float: left;
    margin-right: em(27px);
    margin-bottom: em(40px);
    &.title {
      margin-right: em(50px);
    }
  }
  .left {
    width: 47%;
    margin-right: 6%;
    float: left;
    @include media($mobile) {
      width: 100%;
      margin-bottom: 2.5em;
      border-bottom: 1px solid $ultra-light-gray;
      padding: 2em 2.2em;
    }
  }
  .right {
    float: left;
    width: 47%;
    @include media($mobile) {
      width: 100%;
      padding: 2em 2.2em;
      margin-bottom: 4em;
    }
  }
}

footer.home {
  position: relative;
  padding: 3em 6.25em;
  overflow: hidden;
  @include media($mobile){
    padding: 2em 2.2em;
  }
  .left {
    float: left;
    margin: 0 1.5em;
  }
  img.logo-bbb {
    @include media($mobile) {
      float: right;
    }
    @include media($small-mobile){
      display: block;
      float: none;
      margin-top: 55px;
    }
  }
  ul {
    margin-top: 0.3em;
    @include media($mobile){
      margin-top: 5.5em;
      line-height: 1.8em;
      float: none;
    }
    li {
      @include media($mobile){
        display: block;
        margin: 0;
      }
    }
  }
  p {
    margin: 0.6em 0 0;
  }
}