.hero  {
  color: $white;
  min-height: em(700px);
  header {
    position: relative;
    box-shadow: none;
    .logo {
      margin: 0;
    }
    &.navigation {
      background-color: transparent;
      min-height: none;
      border-bottom: none;
      padding: 3em;
      @include media($mobile) {
        padding: 0;
      }
      nav {
        float: none;
      }
    }
  }

  h1 {
    font-size: em(46)!important;
    line-height: 1.3em;
    margin: 1.5em;
    @include media($mobile) {
      display: none;
    }
  }
  p {
    &.title {
      display: none;
      margin: 5em 0.5em 1.5em;
      font-size: em(20px);
      line-height: em(28px);
    }
    &.location {
      font-size: 13px;
      display: none;
    }
    &.mobile-only {
      @include media($mobile) {
        display: block;
      }
    }
  }


  .accordion-tabs-minimal {
    margin: 2em 1.5em;
    .tab-link {
      color: $light-gray;
      border: none;
      border-radius: 3px 3px 0 0;
      &.is-active {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

.home .content {
  color: $dark-gray;
  padding: 100px;
  line-height: 29px;
  h4 {
    font-size: 20px;
    letter-spacing: 2.5px;
    margin: 0.3em;
  }
  p.title {
    font-size: 18px;
    margin-bottom:  55px;
  }
  .text {
    height: 105px;
    h6 {
    font-size: 15px;
    color: $primary-color;
    letter-spacing: 1px;
    &.orange  a {
      display: block;
      font-size: 17px;
      color: #FFC76E;
      letter-spacing: 1.5px;
      padding-top: 0.6em;
      }
    }
    p {
      font-size: 16px;
    }
  }
  img {
    float: left;
    margin-right: 27px;
    margin-bottom: 40px;
    &.title {
      margin-right: 50px;
    }
  }
  .left {
    width: 47%;
    margin-right: 6%;
    float: left;
  }
  .right {
    float: left;
    width: 47%;
  }
}

footer.home {
  position: relative;
  padding: 50px 100px;
  overflow: hidden;
  .left {
    float: left;
    margin-right: 1.5em;
  }
  ul {
    margin-top: 0.3em;
  }
  p {
    margin: 0.6em 0 0;
  }
}

// @media screen and (max-width: 53.75em) {
//   .hero {
//     header {
//       &.navigation {
//         padding: 0;
//         .navigation-menu-button {
//           margin: 0.6em 1.04em;
//         }
//         .logo img {
//           width: 160px;
//         }
//       }
//     }

//     h1 {
//       display: none;
//     }
//   }
// }