.ib {
  background-color: #F0F0F0;
  .hero {
    background:$dark-gray;
    position: absolute;
    width: 100%;
    min-height: 540px;
    h1 {
      margin: 1em 1.3em 0.3em;
      font-size: 40px;
      font-weight: 100;
      b {
        border-bottom: 3px solid $primary-color;
      }
      @include media($mobile){
        font-weight: 700;
        margin-bottom: 2em;
      }
    }
    p {
      @include span-columns(4);
      @include shift(4);
      line-height: 1.7;
      font-size: 18px;
      @include media($mobile) {
        width: 100%;
        padding: 0 2em;
        margin-left: 0;
      }
    }
  }
}
