header {
  &.navigation {
    @include position(fixed, 0 null null 0);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    z-index: 999;
    background-color: $white;
    overflow: hidden;
    padding: 0.13rem 0;
    width: 100%;
    border: none;
    .logo {
      margin: 0.4em 0 0;
      float: left;
    }
    .search-bar {
      float: left;
      padding: 0.4em;
      form {
        input[type=search] {
          background-color: $white;
          border: 2px solid #DCDCDC;
          border-radius: 4px;
          padding: 0.9em;
          color: $dark-gray;
        }
        button[type=submit] {
          background-color: $primary-color;
          color: $white;
          border-radius: 0 4px 4px 0;
          top: 0;
          right: 0;
          bottom: 0;
          padding: 0 1em;
        }
      }
      &.only-desktop {
        @include media($mobile){
          display: none;
        }
      }
    }
    nav {
      float: right;
      ul li.nav-link {
        float: right;
        @include media($mobile){
          background-color: $white;
        }
        a {
          color: $dark-gray;
          &:hover {
            color: $dark-gray;
          }
        }
      }
    }
    .navigation-menu-button {
      color: $dark-gray;
      &:hover {
        color: $dark-gray;
      }
    }
  }
}

button {
  padding: 0.5em 1.5em;
  border-radius: 100px;
  border: none;
}

button.primary {
  color: $white;
  background-color: $primary-color;
}

.content {
  @include position(relative, 64px null null 0);

  section.sidebar {
    @include position(absolute, null);
    width: em(470);
    margin-bottom: 3.8em;
    background-color: $white;
    @include media($mobile) {
      width: 100%;
      position: relative;
      margin-bottom: 4em;
    }

    .dropdown {
      background-color: #EBEBEB;
      padding: 0.92em;
      min-height: em(68px);
      .columns-6 {
        @include span-columns(6);
        .dropdown-container {
          width: 100%;
          @include fill-parent();
          @include row(table);
        }
        .dropdown-button {
          border-bottom-right-radius: 100px;
          border-top-right-radius: 100px;
          @include span-columns(9);
          padding: 0.35em 2em 0.35em 0.3em;
          text-align: left;
          line-height: 2em;
          font-size: em(14px);
          color: $dark-gray;
          letter-spacing: 0.2px;
          @include ellipsis(100%);
          i {
            position: absolute;
            top: 5px;
            right: 5px;
            margin: 0.45em 0.5em 0;
          }
        }
        .dropdown-description {
          border-bottom-left-radius: 100px;
          border-top-left-radius: 100px;
          @include span-columns(3);
          @include reset-display;
          @include pad();
          line-height: 2.2em;
          font-size: em(13px);
          color: $primary-color;
        }
      }
    }

    .list{
      .item {
        padding: 1.2em;
        border-bottom: 1px solid #E8E4E4;
        min-height: em(140px);

        .info {
          margin-top: 0.5em;
          float: left;
          @include ellipsis(60%);
          h3 a {
            font-size: em(18);
            color: $dark-gray;
            display: block;
            margin-bottom: 0.5em;
            @include ellipsis(100%);
          }
          h5 {
            font-size: em(15);
            color: $light-gray;
            margin-bottom: 1em;
            i {
              font-size: em(17);
              color: #FFC76E;
            }
          }
        }

        .price {
          float: right;

          small {
            font-size: em(12);
            color: $light-gray;
          }

          p {
            font-size: em(24);
            color: $black;
            margin: 0.1em 0 0.5em 0;

            a i {
              font-size: em(14);
              color: $primary-color;
              vertical-align: middle;
            }
          }
          .tooltip-item {
            border: none;
            padding: 0;
            line-height: 1.2em;
            .tooltip {
              text-align: left;
              left: -125px;
              bottom: em(36px);
              width: 275px;
              padding: 0.8em;
              box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.11);
              border-radius: 4px;
              &:after {
                bottom: -1.1em;
              }
              span {
                font-size: 14px;
                line-height: 22px;
                color: $dark-gray;
                display: block;
                margin-bottom: 0.8em;
              }
              a {
                color: $primary-color;
                display: block;
                font-size: 14px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }


  .map {
    #map {
      width: 3000px;
      height: 1000px;
      // @include media($mobile){
      //   width: em(372px);
      //   height: em(200px);
      // }
    }
    @include position(fixed, em(64px) null null em(470));
    z-index: -999;
    &.only-desktop {
      @include media($mobile){
        display: none;
      }
      #content {
        text-align: center;
        width: em(280px);
        h1 {
          margin: 0.5em;
        }
      }
      #bodyContent {
        p.ubication {
          margin: 0 1em;
          padding: 1em;
          border-bottom: 1px solid $ultra-light-gray;
          i {
            color: $primary-color;
            font-size: em(14px);
          }
        }
        i.fa-star {
          color: #FFC76E;
          font-size: em(16px);
        }
        .price {
          padding: 1em;
          overflow: hidden;
          small {
            font-size: em(14px);
            color: $light-gray;
            font-weight: 400;
          }
          p {
            margin: 0.3em 0;
            font-size: em(24px);
            color: $black;
            font-weight: 400;
            i {
              font-size: em(18px);
              color: $primary-color;
            }
          }
          .left {
            @include span-columns(6);
          }
          .right {
            @include span-columns(6);
            margin-right: 0;
          }
          button {
            width: 100%;
            margin: 1em 0 0;
            padding: 1em;
            background-color: $primary-color;
            color: $white;
            font-size: 1.2em;
            font-weight: 400;
          }
        }
      }
    }
    &.only-mobile {
      left: 0;
      top: 0;
      z-index: 0;
      position: relative;
      display: none;
      @include media($mobile) {
        display: block;
        width: 100%;
        height: em(200px);
        overflow: hidden;
      }
      img {
          width: 100%;
        }
    }
  }
}

footer {
  ul {
    float: right;

    li {
      color: white;
      display: inline-block;
      margin: 0.5em 1.25em;
      }

      a {
        text-decoration: none;
        color: white;
      }
  }
}

footer {
  @include position(fixed, null null 0 0);
  background-color:  $dark-gray;
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  @include media($mobile){
    position: relative;
    padding: 2em 2.2em;
  }
  .left {
    float: left;
    margin-right: 1.5em;
  }
  img.logo-bbb {
    @include media($mobile) {
      float: right;
    }
  }
  ul {
    float: right;
    margin-top: 0.3em;
    @include media($mobile){
      margin-top: 5.5em;
      line-height: 1.8em;
      float: none;
    }
    li {
      color: white;
      display: inline-block;
      margin: 0.5em 1.25em;
      @include media($mobile){
        display: block;
        margin: 0;
      }
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  p {
    font-size: em(14);
    margin: 0.6em 0 0;
    float: left;
    color: $white;

    span {
      color: $light-gray;
    }
  }
}